<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Syntax</title>
</head>
<body>
    <nav class = 'navi container'>
        <div class="navi-width">
            <img src="../layout/img/frame.png" alt="syntax logo">
            <ul>
                <li class="demo">Product Demo</li>
                <li>Features</li>
                <li>Testimonials</li>
                <li>Contact Us</li>
                <li><button class="download">Download Now</button></li>
            </ul>
            <div class="menu_btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- Section 1 -->
    <section class="section1 ">
        <div class="section1-width container">
            <div class="section1-img">
                <img src="../layout/img/vector.png" alt="vector">
            </div>
            <div class="section1-text">
                <h1>Get Customized Theme <br> For Your Business</h1>
                <p>Work with Elita Envato to get well designed and <br>
                    built webpages for your businesses. Features have been <br>
                    put in place to drive traffic to you website, create awareness <br>
                    and connect you to your prospective audience/customers.</p>
                <button class="section1-btn1">View Demo</button>
                <button class="section1-btn2">Download Template</button>
            </div>
            
        </div>
    </section>
    <!-- section 2 -->
    <section class="section2 ">
        <div class="section2-width container">
            <div class="section2-text">
                <h1>Why Choose Your <br> Next Template From Syntax</h1>
                <img src="../layout/line3.png" alt="">
                <p>We help you save time, as we provide you with functional aesthetic <br> templates that are fully responsive to all devices</p>
            </div>
            <div class="section2-img">
                <div>
                    <img src="../layout/img/group1.png" alt="">
                    <p>Landing Page</p>
                </div>
               <div>
                    <img src="../layout/img/group1.png" alt="">
                    <p>Contact Page Sample</p>
               </div>
                <div>
                    <img src="../layout/img/group1.png" alt="">
                    <p>About Us Page Sample</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 -->
    <section class="section3">
        <div class="section3-width container">
            <div class="section3-text">
                <h1>You Can Have A Preview <br> With A Live Demo</h1>
                <img src="../layout/img/line3.png" alt="">
            </div>
            <div>
                <div class="section3-img1">
                    <div class="section3-img1-img1">
                        <img src="../layout/img/group2.png" alt="">
                        <p>REAL ESTATE WEBSITE</p>
                    </div>
                    <div class="section3-img1-img2">
                        <img src="../layout/img/group3.png" alt="">
                        <p>PHOTOGRAPHER PORTFOLIO</p>
                    </div>
                </div>
                <div class="section3-img2">
                    <div class="section3-img2-img1">
                        <img src="../layout/img/group4.png" alt="">
                        <p>BEAUTY WEBSITE</p>
                    </div>
                    <div class="section3-img2-img2">
                        <img src="../layout/img/group5.png" alt="">
                        <p>GYM & FITNESS WEBSITE</p>
                    </div>
                </div>
                <div class="section3-img3">
                    <div class="section3-img3-img1">
                        <img src="../layout/img/group6.png" alt="">
                        <p>APP LANDING PAGE</p>
                    </div>
                    <div class="section3-img3-img2">
                        <img src="../layout/img/group7.png" alt="">
                        <p>EDUCATION WEBSITE</p>
                    </div>
                </div>
            </div>
            <div class="section4-width container">
                <div class="section4-text">
                    <h1>SomePages You Can Explore</h1>
                    <img src="../layout/img/line3.png" alt="">
                </div>
                <div>
                    <div class="section3-img3 size">
                        <div class="section3-img3-img2">
                            <img src="../layout/img/group8.png" alt="">
                            <p>CONTACT PAGE</p>
                        </div>
                        <div class="section3-img3-img2">
                            <img src="../layout/img/group9.png" alt="">
                            <p>ABOUT COMPANY</p>
                        </div>
                    </div>
                    <div class="section3-img3 size">
                        <div class="section3-img3-img2">
                            <img src="../layout/img/group10.png" alt="">
                            <p>LANDING PAGE</p>
                        </div>
                        <div class="section3-img3-img2">
                            <img src="../layout/img/group11.png" alt="">
                            <p>PRICING PAGE</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section5-width container">
                <div class="section5-text">
                    <h1>Features Of Every Template <br> You Choose To Download</h1>
                    <img src="../layout/img/line3.png" alt="">
                </div>
                <div class="section5-img">
                    <div class="section5-img-set">
                        <div class="flex">
                            <img src="../layout/img/illus1.png" alt="">
                            <p>Responsive Web Pages</p>
                        </div>
                        <div class="flex">
                            <img src="../layout/img/illus2.png" alt="">
                            <p>Browser Compartibility</p>
                        </div>
                        <div class="flex">
                            <img src="../layout/img/illus3.png" alt="">
                            <p>Dark Supported Theams</p>
                        </div>
                    </div>
                    <div class="section5-img-set">
                        <div class="flex">
                            <img src="../layout/img/illus4.png" alt="">
                            <p>Free Google Fonts</p>
                        </div>
                        <div class="flex">
                            <img src="../layout/img/illus5.png" alt="">
                            <p>Developer Friendly</p>
                        </div>
                        <div class="flex">
                            <img src="../layout/img/illus6.png" alt="">
                            <p>Free Images</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section6-width container">
                <div class="section6-text">
                    <h1>Our Client Love Their Templates</h1>
                    <img src="../layout/img/line3.png" alt="">
                </div>
                <div class="section6-img-set">
                    <div class="section6-img1">
                        <img src="../layout/img/group12.png" alt="">
                    </div>
                    <div class="section6-img1">
                        <img src="../layout/img/group13.png" alt="">
                    </div>
                    <div class="section6-img1">
                        <img src="../layout/img/group14.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section7-width container">
                <div class="section7-text">
                    <h1>Send Us A Message</h1>
                    <img src="../layout/img/line3.png" alt="">
                </div>
                <div>
                    <div class="section7-input">
                        <div class="section7-input2">
                            <textarea placeholder="Name:" cols="50" rows="4"></textarea>
                        </div>
                        <div class="section7-input2">
                            <textarea placeholder="Name:" cols="50" rows="4"></textarea>
                        </div>
                        
                    </div>
                    <div class="section7-input1">
                        <div class="section7-input3">
                            <textarea placeholder="Name:" cols="100" rows="4"></textarea>
                        </div>
                        
                    </div>
                    <div class="section7-input1">
                        <div class="section7-input4">
                            <textarea placeholder="Name:" cols="100" rows="10"></textarea>
                        </div>
                    </div>
                    <button class="section1-btn2">Send  message</button>
                </div>
            </div>
            <div class="section8-width">
                <div class="section8-text">
                    <h1>Ready to Make Your First Download?</h1>
                    <p>Get started with Syntax Templates that would provide you with best features and functinality <br>
                        that drives traffic and keeps you ranking high in SEO</p>
                        <button class="section1-btn1">Download Template Now</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-width">
            <img src="../layout/img/copy.png" alt="">
            <p>2020 Syntax Envato Templtes Designs</p>
        </div>
    </footer>
</body>
</html>